{"openapi":"3.0.0","info":{"title":"Smoo AI API","version":"2.4.50","description":"The Smoo AI API provides programmatic access to AI-powered customer support, configuration management, knowledge bases, testing infrastructure, and more. Authenticate using OAuth 2.0 client credentials to obtain an access token, then include it as a Bearer token in subsequent requests.","contact":{"email":"dev@smoo.ai","name":"Smoo AI Dev Team"},"termsOfService":"https://smoo.ai/terms-of-service/"},"servers":[{"url":"https://api.smoo.ai","description":"Main API Server"},{"url":"https://auth.smoo.ai","description":"Authentication Server"}],"security":[{"clientCredentials":[]},{"bearerAuth":[]}],"tags":[{"name":"Auth","description":"Authentication and authorization. Obtain tokens via OAuth 2.0 client credentials flow for machine-to-machine access."},{"name":"Auth Clients","description":"Manage OAuth 2.0 client credentials for API access. Create, rotate, and revoke client ID/secret pairs."},{"name":"Profile","description":"User profile management. View and update the authenticated user profile."},{"name":"Agents","description":"AI agent management. Create, configure, and manage AI-powered customer support agents."},{"name":"Organizations","description":"Organization management. Create and manage organizations that own agents, products, and configurations."},{"name":"Organization Members","description":"Organization member management. Invite, update roles, and remove members from organizations."},{"name":"Organization Invitations","description":"Organization invitation management. Send, accept, and revoke organization membership invitations."},{"name":"Products","description":"Product management. Define products and services that AI agents can reference when assisting customers."},{"name":"Files","description":"File management and serving. Upload, retrieve, and manage files associated with organizations."},{"name":"Knowledge","description":"Knowledge base management. Upload documents and manage knowledge sources that AI agents use to answer questions."},{"name":"Jobs","description":"Background job tracking. Monitor the status of asynchronous operations like knowledge ingestion and agent deployment."},{"name":"Config Schemas","description":"Configuration schema management. Define typed configuration schemas with validation rules for your applications."},{"name":"Config Environments","description":"Configuration environment management. Create and manage environments (e.g., development, staging, production) for configuration isolation."},{"name":"Config Values","description":"Configuration value management. Set, retrieve, and manage configuration values across environments and schemas."},{"name":"Test Cases","description":"Test case management. Define test cases with expected inputs and outputs for AI agent validation."},{"name":"Test Environments","description":"Test environment management. Configure isolated environments for running test suites."},{"name":"Deployments","description":"Deployment management. Track and manage agent deployments across environments."},{"name":"Test Runs","description":"Test run management. Execute test suites, view results, and track test coverage over time."},{"name":"Campaigns","description":"Social media campaign management. Create campaigns, add platform-specific posts, schedule publishing, and track results."}],"components":{"securitySchemes":{"clientCredentials":{"type":"oauth2","name":"Smoo Machine / Browser Auth","description":"Machine-to-machine and Browser-to-machine OAuth 2.0 client credentials flow","flows":{"clientCredentials":{"tokenUrl":"https://auth.smoo.ai/token","scopes":{}}}},"bearerAuth":{"type":"http","name":"Smoo User Auth","scheme":"bearer","bearerFormat":"JWT","description":"Smoo User Auth JWT token authentication"}},"schemas":{"ErrorResponse":{"type":"object","properties":{"message":{"type":"string","example":"An error occurred"},"cause":{"type":"string","example":"Detailed error information"}},"required":["message"],"description":"Standard error response format"},"TokenRequest":{"type":"object","properties":{"grant_type":{"type":"string","enum":["client_credentials"],"description":"OAuth 2.0 grant type","example":"client_credentials"},"client_id":{"type":"string","description":"OAuth 2.0 client ID","example":"your-client-id"},"client_secret":{"type":"string","description":"OAuth 2.0 client secret","example":"your-client-secret"}},"required":["grant_type","client_id","client_secret"],"description":"OAuth 2.0 token request for client credentials flow"},"TokenResponse":{"type":"object","properties":{"access_token":{"type":"string","description":"JWT access token","example":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."},"token_type":{"type":"string","enum":["Bearer"],"description":"Token type","example":"Bearer"},"expires_in":{"type":"number","description":"Token expiration time in seconds","example":3600}},"required":["access_token","token_type","expires_in"],"description":"OAuth 2.0 token response"},"Agent":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"The unique identifier for the agent."},"name":{"type":"string","description":"The name of the agent."},"icon":{"type":"string","nullable":true,"description":"The icon of the agent."},"types":{"type":"array","items":{"type":"string","enum":["text","voice"]},"description":"The types of the agent."},"directions":{"type":"array","items":{"type":"string","enum":["inbound","outbound"]},"description":"The directions of the agent."},"summary":{"type":"string","description":"The summary of the agent."},"instructions":{"type":"object","properties":{"prompt":{"type":"string","maxLength":5000,"description":"The prompt of the agent."}},"required":["prompt"],"description":"The instructions of the agent."},"examplePrompts":{"type":"array","nullable":true,"items":{"type":"string","maxLength":200},"maxItems":5,"description":"Example prompts to help users start conversations (max 5, each max 100 chars)."},"organizationId":{"type":"string","format":"uuid","description":"The organization identifier of the agent."},"authPublicClientId":{"type":"string","format":"uuid","description":"The public client identifier of the agent."},"authPublicClientSecret":{"type":"string","description":"The public client secret of the agent."},"authPublicClientAllowedOrigins":{"type":"array","items":{"type":"string","format":"uri"},"description":"The allowed origins of the agent."},"widgetConfig":{"type":"object","nullable":true,"properties":{"agentName":{"type":"string","description":"Override display name for the chat widget (falls back to agent.name)"},"iconType":{"type":"string","enum":["smooai","chatbubbles","agent-icon"],"default":"smooai","description":"Type of icon to display"},"iconUrl":{"type":"string","format":"uri","default":"https://smoo.ai","description":"URL for the widget icon"},"requireName":{"type":"boolean","default":true,"description":"Whether to require name from users"},"requireEmail":{"type":"boolean","default":true,"description":"Whether to require email from users"},"requirePhone":{"type":"boolean","default":false,"description":"Whether to require phone number from users"},"allowAnonymous":{"type":"boolean","default":false,"description":"Whether to allow anonymous users"},"colors":{"type":"object","properties":{"text":{"type":"string","default":"#f8fafc","description":"Primary text color"},"background":{"type":"string","default":"#040d30","description":"Widget background color"},"primary":{"type":"string","default":"#00a6a6","description":"Primary accent color"},"primaryText":{"type":"string","default":"#f8fafc","description":"Text color on primary background"},"secondary":{"type":"string","default":"#ff6b6c","description":"Secondary accent color"},"chatBubbleInbound":{"type":"string","default":"#06134b","description":"Incoming message bubble color"},"chatBubbleInboundText":{"type":"string","default":"#f8fafc","description":"Incoming message text color"},"chatBubbleOutbound":{"type":"string","default":"#00a6a6","description":"Outgoing message bubble color"},"chatBubbleOutboundText":{"type":"string","default":"#f8fafc","description":"Outgoing message text color"},"border":{"type":"string","default":"#0a1f7a","description":"Border color"}},"default":{"text":"#f8fafc","background":"#040d30","primary":"#00a6a6","primaryText":"#f8fafc","secondary":"#ff6b6c","chatBubbleInbound":"#06134b","chatBubbleInboundText":"#f8fafc","chatBubbleOutbound":"#00a6a6","chatBubbleOutboundText":"#f8fafc","border":"#0a1f7a"},"description":"Color configuration for the widget"}},"default":{"iconType":"smooai","iconUrl":"https://smoo.ai","requireName":true,"requireEmail":true,"requirePhone":false,"allowAnonymous":false,"colors":{"text":"#f8fafc","background":"#040d30","primary":"#00a6a6","primaryText":"#f8fafc","secondary":"#ff6b6c","chatBubbleInbound":"#06134b","chatBubbleInboundText":"#f8fafc","chatBubbleOutbound":"#00a6a6","chatBubbleOutboundText":"#f8fafc","border":"#0a1f7a"}},"description":"Configuration for the chat widget appearance and behavior."},"personality":{"type":"object","nullable":true,"properties":{"preset":{"type":"string","enum":["bright","friendly","professional","casual","enthusiastic","calm","witty","empathetic","pirate","cheerful","analytical","creative","supportive","quirky","zen"],"default":"bright","description":"Personality preset that defines the agent's communication style"},"creativity":{"type":"number","minimum":0,"maximum":1,"default":0.7,"description":"Creativity level from 0 (very structured) to 1 (highly creative)"},"persona":{"type":"string","maxLength":5000,"description":"Custom persona description that defines the agent's character and behavior (max 1000 characters)"}},"default":{"preset":"bright","creativity":0.7},"description":"Configuration for the agent's personality and behavior traits."},"template":{"type":"string","nullable":true,"enum":["customer_support","developer_assistant","knowledge_expert","sales_outreach","internal_helpdesk","schedule_a_call","custom"],"description":"Template used to create this agent."},"visibility":{"type":"string","enum":["public","internal"],"default":"public","description":"Where this agent is accessible (public widget or internal dashboard)."},"role":{"type":"string","enum":["customer","smoo_builder"],"default":"customer","description":"customer (default, built by the org) or smoo_builder (auto-provisioned org admin assistant)."},"isBuiltin":{"type":"boolean","description":"True only for the built-in Smoo Builder agent. Cannot be deleted; role is locked."},"toolConfig":{"type":"object","nullable":true,"properties":{"enabledTools":{"type":"array","items":{"type":"object","properties":{"toolId":{"type":"string","pattern":"^[a-z0-9_]+$","description":"Tool identifier — snake_case only (e.g., knowledge_search, notify_humans, jira, github, slack, gohighlevel)"},"enabled":{"type":"boolean","default":true,"description":"Whether this tool is enabled for the agent"},"authLevel":{"type":"string","enum":["none","end_user","admin"],"default":"none","description":"Authentication level required before this tool can execute"},"config":{"type":"object","additionalProperties":{"nullable":true},"description":"Tool-specific configuration"}},"required":["toolId"]},"default":[],"description":"List of tools enabled for this agent"}},"default":{"enabledTools":[]},"description":"Configuration for agent tools and integrations."},"knowledgeSelection":{"oneOf":[{"type":"object","properties":{"mode":{"type":"string","enum":["all_org"],"description":"Agent sees every knowledge document in the organization, including any added later."}},"required":["mode"],"description":"Inherit all org knowledge (default)."},{"type":"object","properties":{"mode":{"type":"string","enum":["selected"],"description":"Agent sees only the listed folders + documents."},"folderIds":{"type":"array","items":{"type":"string","format":"uuid"},"default":[],"description":"Folders to include (every doc in these folders, including ones added later)."},"documentIds":{"type":"array","items":{"type":"string","format":"uuid"},"default":[],"description":"Specific documents to include in addition to anything from selected folders."}},"required":["mode"],"description":"Subscribe to specific folders and/or documents."}],"description":"SMOODEV-775 — which org-scoped knowledge this agent can search. Default `all_org`; `selected` lets the agent subscribe to specific folders and/or documents. DB column is NOT NULL with a default, so reads always return a value; create can omit it to take the default."},"conversationWorkflow":{"type":"object","nullable":true,"properties":{"goal":{"type":"string","minLength":1,"maxLength":1000,"description":"Overall goal the agent is driving toward across the conversation."},"steps":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":64,"description":"Stable identifier for this step, referenced by `next` and graph state."},"intent":{"type":"string","minLength":1,"maxLength":500,"description":"Short natural-language description of what the agent should try to accomplish on this step (e.g. 'Greet the caller and confirm their name')."},"criteria":{"type":"string","minLength":1,"maxLength":1000,"description":"Objective criteria the judge evaluates to decide whether the step was satisfied this turn. Prefer observable outcomes over vibes."},"next":{"type":"string","maxLength":64,"description":"Step id to advance to once criteria are met. Omit on terminal steps."}},"required":["id","intent","criteria"],"description":"A single step in a structured conversation workflow."},"minItems":1,"maxItems":20,"description":"Ordered list of steps. The first step is the starting point; step advancement follows `next` or falls through to the next element in the array."}},"required":["goal","steps"],"description":"Structured goal + steps for multi-turn conversation flow. Optional — freeform-prompt agents work without this."},"callerIdentityResolution":{"type":"object","nullable":true,"properties":{"enabled":{"type":"boolean","default":false,"description":"Whether the agent should look up an inbound caller against the CRM and use the matching contact for personalization."},"allowedFields":{"type":"array","items":{"type":"string","minLength":1,"maxLength":64},"maxItems":20,"default":["firstName","lastName","jobTitle"],"description":"Allowlist of CRM contact field names that may be surfaced to the agent. A hard-exclude regex (password|token|secret|ssn|card|bank|auth) is applied AFTER this filter — if any allowed field name matches, it is dropped regardless of allowedFields."},"disclosureMessage":{"type":"string","maxLength":500,"description":"Optional first-turn disclosure shown to the caller, e.g. \"I have your account on file — let me know if that's not you.\""}},"default":{"enabled":false,"allowedFields":["firstName","lastName","jobTitle"]},"description":"SMOODEV-670 — opt-in CRM contact lookup for personalization. UX only, NEVER an auth signal (phone/email headers are spoofable)."},"voiceProfileId":{"type":"string","nullable":true,"format":"uuid","description":"SMOODEV-799 — reference to a row in voice_profiles. NULL means use the system default voice (Aria — peppy)."},"greeting":{"type":"string","nullable":true,"description":"SMOODEV-798 / SMOODEV-932 — channel-agnostic initial greeting seed. composeChannelGreeting rephrases this per channel (voice, chat, sms). NULL falls back to per-channel defaults."},"createdBy":{"type":"string","format":"uuid","description":"The user identifier of the agent."},"createdAt":{"type":"string","nullable":true,"format":"date","description":"The date and time the agent was created."},"updatedAt":{"type":"string","nullable":true,"format":"date","description":"The date and time the agent was last updated."}},"required":["id","name","types","directions","summary","instructions","organizationId","authPublicClientId","authPublicClientSecret","authPublicClientAllowedOrigins","isBuiltin","createdBy","createdAt","updatedAt"],"description":"Agent entity with all fields including auth credentials"},"CreateAgentRequest":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string","description":"The name of the agent."},"icon":{"type":"string","nullable":true,"description":"The icon of the agent."},"instructions":{"type":"object","properties":{"prompt":{"type":"string","maxLength":5000,"description":"The prompt of the agent."}},"required":["prompt"],"description":"The instructions of the agent."},"examplePrompts":{"type":"array","nullable":true,"items":{"type":"string","maxLength":200},"maxItems":5,"description":"Example prompts to help users start conversations (max 5, each max 100 chars)."},"types":{"type":"array","items":{"type":"string","enum":["text","voice"]},"description":"The types of the agent."},"directions":{"type":"array","items":{"type":"string","enum":["inbound","outbound"]},"description":"The directions of the agent."},"summary":{"type":"string","description":"The summary of the agent."},"organizationId":{"type":"string","format":"uuid","description":"The organization identifier of the agent."},"widgetConfig":{"type":"object","nullable":true,"properties":{"agentName":{"type":"string","description":"Override display name for the chat widget (falls back to agent.name)"},"iconType":{"type":"string","enum":["smooai","chatbubbles","agent-icon"],"default":"smooai","description":"Type of icon to display"},"iconUrl":{"type":"string","format":"uri","default":"https://smoo.ai","description":"URL for the widget icon"},"requireName":{"type":"boolean","default":true,"description":"Whether to require name from users"},"requireEmail":{"type":"boolean","default":true,"description":"Whether to require email from users"},"requirePhone":{"type":"boolean","default":false,"description":"Whether to require phone number from users"},"allowAnonymous":{"type":"boolean","default":false,"description":"Whether to allow anonymous users"},"colors":{"type":"object","properties":{"text":{"type":"string","default":"#f8fafc","description":"Primary text color"},"background":{"type":"string","default":"#040d30","description":"Widget background color"},"primary":{"type":"string","default":"#00a6a6","description":"Primary accent color"},"primaryText":{"type":"string","default":"#f8fafc","description":"Text color on primary background"},"secondary":{"type":"string","default":"#ff6b6c","description":"Secondary accent color"},"chatBubbleInbound":{"type":"string","default":"#06134b","description":"Incoming message bubble color"},"chatBubbleInboundText":{"type":"string","default":"#f8fafc","description":"Incoming message text color"},"chatBubbleOutbound":{"type":"string","default":"#00a6a6","description":"Outgoing message bubble color"},"chatBubbleOutboundText":{"type":"string","default":"#f8fafc","description":"Outgoing message text color"},"border":{"type":"string","default":"#0a1f7a","description":"Border color"}},"default":{"text":"#f8fafc","background":"#040d30","primary":"#00a6a6","primaryText":"#f8fafc","secondary":"#ff6b6c","chatBubbleInbound":"#06134b","chatBubbleInboundText":"#f8fafc","chatBubbleOutbound":"#00a6a6","chatBubbleOutboundText":"#f8fafc","border":"#0a1f7a"},"description":"Color configuration for the widget"}},"default":{"iconType":"smooai","iconUrl":"https://smoo.ai","requireName":true,"requireEmail":true,"requirePhone":false,"allowAnonymous":false,"colors":{"text":"#f8fafc","background":"#040d30","primary":"#00a6a6","primaryText":"#f8fafc","secondary":"#ff6b6c","chatBubbleInbound":"#06134b","chatBubbleInboundText":"#f8fafc","chatBubbleOutbound":"#00a6a6","chatBubbleOutboundText":"#f8fafc","border":"#0a1f7a"}},"description":"Configuration for the chat widget appearance and behavior."},"personality":{"type":"object","nullable":true,"properties":{"preset":{"type":"string","enum":["bright","friendly","professional","casual","enthusiastic","calm","witty","empathetic","pirate","cheerful","analytical","creative","supportive","quirky","zen"],"default":"bright","description":"Personality preset that defines the agent's communication style"},"creativity":{"type":"number","minimum":0,"maximum":1,"default":0.7,"description":"Creativity level from 0 (very structured) to 1 (highly creative)"},"persona":{"type":"string","maxLength":5000,"description":"Custom persona description that defines the agent's character and behavior (max 1000 characters)"}},"default":{"preset":"bright","creativity":0.7},"description":"Configuration for the agent's personality and behavior traits."},"template":{"type":"string","nullable":true,"enum":["customer_support","developer_assistant","knowledge_expert","sales_outreach","internal_helpdesk","schedule_a_call","custom"],"description":"Template used to create this agent."},"visibility":{"type":"string","enum":["public","internal"],"default":"public","description":"Where this agent is accessible (public widget or internal dashboard)."},"role":{"type":"string","enum":["customer","smoo_builder"],"default":"customer","description":"customer (default, built by the org) or smoo_builder (auto-provisioned org admin assistant)."},"isBuiltin":{"type":"boolean","description":"True only for the built-in Smoo Builder agent. Cannot be deleted; role is locked."},"toolConfig":{"type":"object","nullable":true,"properties":{"enabledTools":{"type":"array","items":{"type":"object","properties":{"toolId":{"type":"string","pattern":"^[a-z0-9_]+$","description":"Tool identifier — snake_case only (e.g., knowledge_search, notify_humans, jira, github, slack, gohighlevel)"},"enabled":{"type":"boolean","default":true,"description":"Whether this tool is enabled for the agent"},"authLevel":{"type":"string","enum":["none","end_user","admin"],"default":"none","description":"Authentication level required before this tool can execute"},"config":{"type":"object","additionalProperties":{"nullable":true},"description":"Tool-specific configuration"}},"required":["toolId"]},"default":[],"description":"List of tools enabled for this agent"}},"default":{"enabledTools":[]},"description":"Configuration for agent tools and integrations."},"knowledgeSelection":{"oneOf":[{"type":"object","properties":{"mode":{"type":"string","enum":["all_org"],"description":"Agent sees every knowledge document in the organization, including any added later."}},"required":["mode"],"description":"Inherit all org knowledge (default)."},{"type":"object","properties":{"mode":{"type":"string","enum":["selected"],"description":"Agent sees only the listed folders + documents."},"folderIds":{"type":"array","items":{"type":"string","format":"uuid"},"default":[],"description":"Folders to include (every doc in these folders, including ones added later)."},"documentIds":{"type":"array","items":{"type":"string","format":"uuid"},"default":[],"description":"Specific documents to include in addition to anything from selected folders."}},"required":["mode"],"description":"Subscribe to specific folders and/or documents."}],"description":"SMOODEV-775 — which org-scoped knowledge this agent can search. Default `all_org`; `selected` lets the agent subscribe to specific folders and/or documents. DB column is NOT NULL with a default, so reads always return a value; create can omit it to take the default."},"conversationWorkflow":{"type":"object","nullable":true,"properties":{"goal":{"type":"string","minLength":1,"maxLength":1000,"description":"Overall goal the agent is driving toward across the conversation."},"steps":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":64,"description":"Stable identifier for this step, referenced by `next` and graph state."},"intent":{"type":"string","minLength":1,"maxLength":500,"description":"Short natural-language description of what the agent should try to accomplish on this step (e.g. 'Greet the caller and confirm their name')."},"criteria":{"type":"string","minLength":1,"maxLength":1000,"description":"Objective criteria the judge evaluates to decide whether the step was satisfied this turn. Prefer observable outcomes over vibes."},"next":{"type":"string","maxLength":64,"description":"Step id to advance to once criteria are met. Omit on terminal steps."}},"required":["id","intent","criteria"],"description":"A single step in a structured conversation workflow."},"minItems":1,"maxItems":20,"description":"Ordered list of steps. The first step is the starting point; step advancement follows `next` or falls through to the next element in the array."}},"required":["goal","steps"],"description":"Structured goal + steps for multi-turn conversation flow. Optional — freeform-prompt agents work without this."},"callerIdentityResolution":{"type":"object","nullable":true,"properties":{"enabled":{"type":"boolean","default":false,"description":"Whether the agent should look up an inbound caller against the CRM and use the matching contact for personalization."},"allowedFields":{"type":"array","items":{"type":"string","minLength":1,"maxLength":64},"maxItems":20,"default":["firstName","lastName","jobTitle"],"description":"Allowlist of CRM contact field names that may be surfaced to the agent. A hard-exclude regex (password|token|secret|ssn|card|bank|auth) is applied AFTER this filter — if any allowed field name matches, it is dropped regardless of allowedFields."},"disclosureMessage":{"type":"string","maxLength":500,"description":"Optional first-turn disclosure shown to the caller, e.g. \"I have your account on file — let me know if that's not you.\""}},"default":{"enabled":false,"allowedFields":["firstName","lastName","jobTitle"]},"description":"SMOODEV-670 — opt-in CRM contact lookup for personalization. UX only, NEVER an auth signal (phone/email headers are spoofable)."},"voiceProfileId":{"type":"string","nullable":true,"format":"uuid","description":"SMOODEV-799 — reference to a row in voice_profiles. NULL means use the system default voice (Aria — peppy)."},"greeting":{"type":"string","nullable":true,"description":"SMOODEV-798 / SMOODEV-932 — channel-agnostic initial greeting seed. composeChannelGreeting rephrases this per channel (voice, chat, sms). NULL falls back to per-channel defaults."},"createdAt":{"type":"string","format":"date"},"updatedAt":{"type":"string","format":"date"},"authPublicClientAllowedOrigins":{"type":"array","items":{"type":"string"},"default":["http://localhost:3000"]}},"required":["name","instructions","types","directions","summary","organizationId","isBuiltin"],"description":"Request body for creating a new agent"},"UpdateAgentRequest":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string","description":"The name of the agent."},"icon":{"type":"string","nullable":true,"description":"The icon of the agent."},"instructions":{"type":"object","properties":{"prompt":{"type":"string","maxLength":5000,"description":"The prompt of the agent."}},"required":["prompt"],"description":"The instructions of the agent."},"examplePrompts":{"type":"array","nullable":true,"items":{"type":"string","maxLength":200},"maxItems":5,"description":"Example prompts to help users start conversations (max 5, each max 100 chars)."},"types":{"type":"array","items":{"type":"string","enum":["text","voice"]}},"directions":{"type":"array","items":{"type":"string","enum":["inbound","outbound"]}},"summary":{"type":"string","description":"The summary of the agent."},"organizationId":{"type":"string","format":"uuid","description":"The organization identifier of the agent."},"authPublicClientId":{"type":"string","format":"uuid"},"authPublicClientSecret":{"type":"string"},"authPublicClientAllowedOrigins":{"type":"array","items":{"type":"string","format":"uri"},"description":"The allowed origins of the agent."},"widgetConfig":{"type":"object","nullable":true,"properties":{"agentName":{"type":"string","description":"Override display name for the chat widget (falls back to agent.name)"},"iconType":{"type":"string","enum":["smooai","chatbubbles","agent-icon"],"default":"smooai","description":"Type of icon to display"},"iconUrl":{"type":"string","format":"uri","default":"https://smoo.ai","description":"URL for the widget icon"},"requireName":{"type":"boolean","default":true,"description":"Whether to require name from users"},"requireEmail":{"type":"boolean","default":true,"description":"Whether to require email from users"},"requirePhone":{"type":"boolean","default":false,"description":"Whether to require phone number from users"},"allowAnonymous":{"type":"boolean","default":false,"description":"Whether to allow anonymous users"},"colors":{"type":"object","properties":{"text":{"type":"string","default":"#f8fafc","description":"Primary text color"},"background":{"type":"string","default":"#040d30","description":"Widget background color"},"primary":{"type":"string","default":"#00a6a6","description":"Primary accent color"},"primaryText":{"type":"string","default":"#f8fafc","description":"Text color on primary background"},"secondary":{"type":"string","default":"#ff6b6c","description":"Secondary accent color"},"chatBubbleInbound":{"type":"string","default":"#06134b","description":"Incoming message bubble color"},"chatBubbleInboundText":{"type":"string","default":"#f8fafc","description":"Incoming message text color"},"chatBubbleOutbound":{"type":"string","default":"#00a6a6","description":"Outgoing message bubble color"},"chatBubbleOutboundText":{"type":"string","default":"#f8fafc","description":"Outgoing message text color"},"border":{"type":"string","default":"#0a1f7a","description":"Border color"}},"default":{"text":"#f8fafc","background":"#040d30","primary":"#00a6a6","primaryText":"#f8fafc","secondary":"#ff6b6c","chatBubbleInbound":"#06134b","chatBubbleInboundText":"#f8fafc","chatBubbleOutbound":"#00a6a6","chatBubbleOutboundText":"#f8fafc","border":"#0a1f7a"},"description":"Color configuration for the widget"}},"default":{"iconType":"smooai","iconUrl":"https://smoo.ai","requireName":true,"requireEmail":true,"requirePhone":false,"allowAnonymous":false,"colors":{"text":"#f8fafc","background":"#040d30","primary":"#00a6a6","primaryText":"#f8fafc","secondary":"#ff6b6c","chatBubbleInbound":"#06134b","chatBubbleInboundText":"#f8fafc","chatBubbleOutbound":"#00a6a6","chatBubbleOutboundText":"#f8fafc","border":"#0a1f7a"}},"description":"Configuration for the chat widget appearance and behavior."},"personality":{"type":"object","nullable":true,"properties":{"preset":{"type":"string","enum":["bright","friendly","professional","casual","enthusiastic","calm","witty","empathetic","pirate","cheerful","analytical","creative","supportive","quirky","zen"],"default":"bright","description":"Personality preset that defines the agent's communication style"},"creativity":{"type":"number","minimum":0,"maximum":1,"default":0.7,"description":"Creativity level from 0 (very structured) to 1 (highly creative)"},"persona":{"type":"string","maxLength":5000,"description":"Custom persona description that defines the agent's character and behavior (max 1000 characters)"}},"default":{"preset":"bright","creativity":0.7},"description":"Configuration for the agent's personality and behavior traits."},"template":{"type":"string","nullable":true,"enum":["customer_support","developer_assistant","knowledge_expert","sales_outreach","internal_helpdesk","schedule_a_call","custom"],"description":"Template used to create this agent."},"visibility":{"type":"string","enum":["public","internal"],"default":"public","description":"Where this agent is accessible (public widget or internal dashboard)."},"role":{"type":"string","enum":["customer","smoo_builder"],"default":"customer","description":"customer (default, built by the org) or smoo_builder (auto-provisioned org admin assistant)."},"isBuiltin":{"type":"boolean","description":"True only for the built-in Smoo Builder agent. Cannot be deleted; role is locked."},"toolConfig":{"type":"object","nullable":true,"properties":{"enabledTools":{"type":"array","items":{"type":"object","properties":{"toolId":{"type":"string","pattern":"^[a-z0-9_]+$","description":"Tool identifier — snake_case only (e.g., knowledge_search, notify_humans, jira, github, slack, gohighlevel)"},"enabled":{"type":"boolean","default":true,"description":"Whether this tool is enabled for the agent"},"authLevel":{"type":"string","enum":["none","end_user","admin"],"default":"none","description":"Authentication level required before this tool can execute"},"config":{"type":"object","additionalProperties":{"nullable":true},"description":"Tool-specific configuration"}},"required":["toolId"]},"default":[],"description":"List of tools enabled for this agent"}},"default":{"enabledTools":[]},"description":"Configuration for agent tools and integrations."},"knowledgeSelection":{"oneOf":[{"type":"object","properties":{"mode":{"type":"string","enum":["all_org"],"description":"Agent sees every knowledge document in the organization, including any added later."}},"required":["mode"],"description":"Inherit all org knowledge (default)."},{"type":"object","properties":{"mode":{"type":"string","enum":["selected"],"description":"Agent sees only the listed folders + documents."},"folderIds":{"type":"array","items":{"type":"string","format":"uuid"},"default":[],"description":"Folders to include (every doc in these folders, including ones added later)."},"documentIds":{"type":"array","items":{"type":"string","format":"uuid"},"default":[],"description":"Specific documents to include in addition to anything from selected folders."}},"required":["mode"],"description":"Subscribe to specific folders and/or documents."}],"description":"SMOODEV-775 — which org-scoped knowledge this agent can search. Default `all_org`; `selected` lets the agent subscribe to specific folders and/or documents. DB column is NOT NULL with a default, so reads always return a value; create can omit it to take the default."},"conversationWorkflow":{"type":"object","nullable":true,"properties":{"goal":{"type":"string","minLength":1,"maxLength":1000,"description":"Overall goal the agent is driving toward across the conversation."},"steps":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":64,"description":"Stable identifier for this step, referenced by `next` and graph state."},"intent":{"type":"string","minLength":1,"maxLength":500,"description":"Short natural-language description of what the agent should try to accomplish on this step (e.g. 'Greet the caller and confirm their name')."},"criteria":{"type":"string","minLength":1,"maxLength":1000,"description":"Objective criteria the judge evaluates to decide whether the step was satisfied this turn. Prefer observable outcomes over vibes."},"next":{"type":"string","maxLength":64,"description":"Step id to advance to once criteria are met. Omit on terminal steps."}},"required":["id","intent","criteria"],"description":"A single step in a structured conversation workflow."},"minItems":1,"maxItems":20,"description":"Ordered list of steps. The first step is the starting point; step advancement follows `next` or falls through to the next element in the array."}},"required":["goal","steps"],"description":"Structured goal + steps for multi-turn conversation flow. Optional — freeform-prompt agents work without this."},"callerIdentityResolution":{"type":"object","nullable":true,"properties":{"enabled":{"type":"boolean","default":false,"description":"Whether the agent should look up an inbound caller against the CRM and use the matching contact for personalization."},"allowedFields":{"type":"array","items":{"type":"string","minLength":1,"maxLength":64},"maxItems":20,"default":["firstName","lastName","jobTitle"],"description":"Allowlist of CRM contact field names that may be surfaced to the agent. A hard-exclude regex (password|token|secret|ssn|card|bank|auth) is applied AFTER this filter — if any allowed field name matches, it is dropped regardless of allowedFields."},"disclosureMessage":{"type":"string","maxLength":500,"description":"Optional first-turn disclosure shown to the caller, e.g. \"I have your account on file — let me know if that's not you.\""}},"default":{"enabled":false,"allowedFields":["firstName","lastName","jobTitle"]},"description":"SMOODEV-670 — opt-in CRM contact lookup for personalization. UX only, NEVER an auth signal (phone/email headers are spoofable)."},"voiceProfileId":{"type":"string","nullable":true,"format":"uuid","description":"SMOODEV-799 — reference to a row in voice_profiles. NULL means use the system default voice (Aria — peppy)."},"greeting":{"type":"string","nullable":true,"description":"SMOODEV-798 / SMOODEV-932 — channel-agnostic initial greeting seed. composeChannelGreeting rephrases this per channel (voice, chat, sms). NULL falls back to per-channel defaults."},"createdBy":{"type":"string","format":"uuid"},"createdAt":{"type":"string","format":"date"},"updatedAt":{"type":"string","format":"date"}},"description":"Request body for updating an agent"},"DeleteAgentResponse":{"type":"object","properties":{"message":{"type":"string","example":"Agent deleted successfully"},"id":{"type":"string","example":"550e8400-e29b-41d4-a716-446655440000"}},"required":["message","id"],"description":"Response when an agent is successfully deleted"},"Job":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"The unique identifier for the job."},"type":{"type":"string","description":"The type of job (e.g., \"generate_report\", \"process_data\")"},"status":{"type":"string","enum":["pending","running","completed","failed"],"description":"Current status of the job"},"organizationId":{"type":"string","format":"uuid","description":"Organization that owns this job"},"createdBy":{"type":"string","format":"uuid","description":"User who created the job"},"description":{"type":"string","nullable":true,"description":"Optional description of what the job does"},"result":{"type":"object","nullable":true,"additionalProperties":{"nullable":true},"description":"Job result data (only set when status is completed)"},"error":{"type":"object","nullable":true,"properties":{"code":{"type":"string","pattern":"^[a-z0-9_-]+$","description":"The code of the error, e.g. \"not_found\""},"statusCode":{"type":"string","enum":["100_continue","101_switching_protocols","102_processing","103_early_hints","200_ok","201_created","202_accepted","203_non_authoritative_information","204_no_content","205_reset_content","206_partial_content","207_multi_status","300_multiple_choices","301_moved_permanently","302_moved_temporarily","303_see_other","304_not_modified","305_use_proxy","307_temporary_redirect","308_permanent_redirect","400_bad_request","401_unauthorized","402_payment_required","403_forbidden","404_not_found","405_method_not_allowed","406_not_acceptable","407_proxy_authentication_required","408_request_timeout","409_conflict","410_gone","411_length_required","412_precondition_failed","413_request_too_long","414_request_uri_too_long","415_unsupported_media_type","416_requested_range_not_satisfiable","417_expectation_failed","418_im_a_teapot","419_insufficient_space_on_resource","420_method_failure","421_misdirected_request","422_unprocessable_entity","423_locked","424_failed_dependency","426_upgrade_required","428_precondition_required","429_too_many_requests","431_request_header_fields_too_large","451_unavailable_for_legal_reasons","500_internal_server_error","501_not_implemented","502_bad_gateway","503_service_unavailable","504_gateway_timeout","505_http_version_not_supported","507_insufficient_storage","511_network_authentication_required"],"description":"The HTTP status code of the error."},"message":{"type":"string","description":"The message of the error."}},"required":["code","message"],"description":"Error information if job failed"},"metadataJson":{"type":"object","nullable":true,"additionalProperties":{"nullable":true},"description":"Additional metadata about the job"},"startedAt":{"type":"string","nullable":true,"format":"date","description":"When the job started processing"},"completedAt":{"type":"string","nullable":true,"format":"date","description":"When the job completed (success or failure)"},"createdAt":{"type":"string","nullable":true,"format":"date","description":"The date and time the job was created."},"updatedAt":{"type":"string","nullable":true,"format":"date","description":"The date and time the job was last updated."}},"required":["type","status","organizationId","createdBy"],"description":"Job entity for async operations"},"PublicAgent":{"type":"object","properties":{"id":{"type":"string","example":"550e8400-e29b-41d4-a716-446655440000"},"name":{"type":"string","example":"Customer Support Assistant"},"summary":{"type":"string","example":"A helpful AI assistant for customer support 🤖"},"icon":{"type":"string","nullable":true,"example":"https://example.com/icon.png"},"examplePrompts":{"type":"array","nullable":true,"items":{"type":"string"},"example":["How can I help you today?","What services do you offer?"]},"authPublicClientId":{"type":"string","example":"550e8400-e29b-41d4-a716-446655440000"},"authPublicClientSecret":{"type":"string","example":"pk_test_123456789"},"organizationId":{"type":"string","example":"550e8400-e29b-41d4-a716-446655440000"},"widgetConfig":{"nullable":true,"example":{"colors":{"primary":"#18f1f8"}}}},"required":["id","name","summary","authPublicClientId","authPublicClientSecret","organizationId"],"description":"Public agent information for unauthenticated access"},"GenerateConfigRequest":{"type":"object","properties":{"description":{"type":"string","minLength":10,"maxLength":2000},"templateId":{"type":"string"}},"required":["description"],"description":"Request body for AI-guided agent config generation"},"GenerateConfigResponse":{"type":"object","properties":{"name":{"type":"string"},"instructions":{"type":"string"},"personality":{"type":"object","properties":{"preset":{"type":"string"},"creativity":{"type":"number"}},"required":["preset","creativity"]},"suggestedTools":{"type":"array","items":{"type":"string"}},"summary":{"type":"string"},"examplePrompts":{"type":"array","items":{"type":"string"}}},"required":["name","instructions","personality","suggestedTools","summary","examplePrompts"],"description":"AI-generated agent configuration"},"AuthClient":{"type":"object","properties":{"clientId":{"type":"string"},"type":{"type":"string","enum":["machine-to-machine","browser-to-machine"]},"createdAt":{"type":"string"},"expiresAt":{"type":"string"},"allowedOrigins":{"type":"array","items":{"type":"string"}}},"required":["clientId","type","createdAt","expiresAt"],"description":"An auth client (secret/key not included)"},"CreateAuthClientRequest":{"type":"object","properties":{"type":{"type":"string","enum":["machine-to-machine","browser-to-machine"],"default":"machine-to-machine"},"allowedOrigins":{"type":"array","items":{"type":"string"}}},"description":"Request body for creating an auth client"},"CreateAuthClientResponse":{"type":"object","properties":{"clientId":{"type":"string"},"secretKey":{"type":"string","description":"The secret key for M2M clients — shown only once"},"publicKey":{"type":"string","description":"The public key for B2M clients — shown only once"},"expiresAt":{"type":"string"},"type":{"type":"string","enum":["machine-to-machine","browser-to-machine"]}},"required":["clientId","expiresAt","type"],"description":"Response when creating a new auth client"},"UpdateAuthClientRequest":{"type":"object","properties":{"allowedOrigins":{"type":"array","items":{"type":"string"},"minItems":1}},"required":["allowedOrigins"],"description":"Request body for updating a B2M auth client"},"ConfigEnvironment":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"organizationId":{"type":"string","format":"uuid"},"name":{"type":"string"},"description":{"type":"string","nullable":true},"createdBy":{"type":"string","format":"uuid"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","organizationId","name","createdBy","createdAt","updatedAt"],"description":"Config environment (e.g., development, staging, production)"},"CreateConfigEnvironmentRequest":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string","minLength":1,"maxLength":100,"pattern":"^[a-z0-9][a-z0-9-]*[a-z0-9]$|^[a-z0-9]$","description":"The environment name (e.g., \"development\", \"staging\", \"production\")."},"description":{"type":"string","nullable":true,"description":"A description of this environment."},"fallbackEnvironmentId":{"type":"string","nullable":true,"format":"uuid","description":"When a key is not found in this environment, fall back to this environment. Chain depth capped at 5."},"createdAt":{"type":"string","format":"date"},"updatedAt":{"type":"string","format":"date"}},"required":["name"],"description":"Request body for creating a config environment"},"UpdateConfigEnvironmentRequest":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"organizationId":{"type":"string","format":"uuid"},"name":{"type":"string","minLength":1,"maxLength":100,"pattern":"^[a-z0-9][a-z0-9-]*[a-z0-9]$|^[a-z0-9]$","description":"The environment name (e.g., \"development\", \"staging\", \"production\")."},"description":{"type":"string","nullable":true,"description":"A description of this environment."},"fallbackEnvironmentId":{"type":"string","nullable":true,"format":"uuid","description":"When a key is not found in this environment, fall back to this environment. Chain depth capped at 5."},"createdBy":{"type":"string","format":"uuid"},"createdAt":{"type":"string","format":"date"},"updatedAt":{"type":"string","format":"date"}},"description":"Request body for updating a config environment"},"ConfigSchema":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"organizationId":{"type":"string","format":"uuid"},"name":{"type":"string"},"description":{"type":"string","nullable":true},"currentVersion":{"type":"integer"},"jsonSchema":{"type":"object","additionalProperties":{"nullable":true}},"createdBy":{"type":"string","format":"uuid"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","organizationId","name","currentVersion","jsonSchema","createdBy","createdAt","updatedAt"],"description":"Config schema definition"},"CreateConfigSchemaRequest":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string","minLength":1,"maxLength":255,"description":"The name of the config schema (e.g., \"default\", app name)."},"description":{"type":"string","nullable":true,"description":"A description of what this config schema is for."},"currentVersion":{"type":"integer","minimum":-2147483648,"maximum":2147483647},"jsonSchema":{"type":"object","additionalProperties":{"nullable":true},"description":"The JSON Schema definition for this config."},"createdAt":{"type":"string","format":"date"},"updatedAt":{"type":"string","format":"date"}},"required":["name","jsonSchema"],"description":"Request body for creating a config schema"},"UpdateConfigSchemaRequest":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"organizationId":{"type":"string","format":"uuid"},"name":{"type":"string","minLength":1,"maxLength":255,"description":"The name of the config schema (e.g., \"default\", app name)."},"description":{"type":"string","nullable":true,"description":"A description of what this config schema is for."},"currentVersion":{"type":"integer","minimum":1,"default":1,"description":"The current version number of the schema."},"jsonSchema":{"type":"object","additionalProperties":{"nullable":true},"description":"The JSON Schema definition for this config."},"createdBy":{"type":"string","format":"uuid"},"createdAt":{"type":"string","format":"date"},"updatedAt":{"type":"string","format":"date"}},"description":"Request body for updating a config schema"},"ConfigSchemaVersion":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"schemaId":{"type":"string","format":"uuid"},"version":{"type":"integer"},"jsonSchema":{"type":"object","additionalProperties":{"nullable":true}},"changeDescription":{"type":"string","nullable":true},"pushedBy":{"type":"string"},"pushedAt":{"type":"string"}},"required":["id","schemaId","version","jsonSchema","pushedBy","pushedAt"],"description":"A versioned snapshot of a config schema"},"PushVersionRequest":{"type":"object","properties":{"jsonSchema":{"type":"object","additionalProperties":{"nullable":true},"description":"The updated JSON Schema definition"},"changeDescription":{"type":"string","description":"Description of what changed in this version"}},"required":["jsonSchema"],"description":"Request body for pushing a new schema version"},"PushVersionResponse":{"type":"object","properties":{"schema":{"$ref":"#/components/schemas/ConfigSchema"},"version":{"$ref":"#/components/schemas/ConfigSchemaVersion"}},"required":["schema","version"],"description":"Response after pushing a new schema version"},"ConfigValue":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"organizationId":{"type":"string","format":"uuid"},"schemaId":{"type":"string","format":"uuid"},"environmentId":{"type":"string","format":"uuid"},"key":{"type":"string"},"value":{"nullable":true},"tier":{"type":"string","enum":["public","secret","feature_flag"]},"updatedBy":{"type":"string","format":"uuid"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","organizationId","schemaId","environmentId","key","tier","updatedBy","createdAt","updatedAt"],"description":"A configuration value scoped to a schema and environment"},"SetConfigValueRequest":{"type":"object","properties":{"schemaId":{"type":"string","format":"uuid","description":"The config schema this value belongs to"},"environmentId":{"type":"string","format":"uuid","description":"The environment this value is set for"},"key":{"type":"string","minLength":1,"maxLength":255,"description":"The configuration key name"},"value":{"nullable":true,"description":"The configuration value (JSON-encoded)"},"tier":{"type":"string","enum":["public","secret","feature_flag"],"description":"The tier: public, secret, or feature_flag"}},"required":["schemaId","environmentId","key","tier"],"description":"Request body for setting (upserting) a config value"},"BulkSetConfigValuesRequest":{"type":"object","properties":{"values":{"type":"array","items":{"$ref":"#/components/schemas/SetConfigValueRequest"},"description":"Array of config values to set"}},"required":["values"],"description":"Request body for bulk-setting config values"},"EvaluateFeatureFlagRequest":{"type":"object","properties":{"environment":{"type":"string","minLength":1,"description":"Named environment (e.g. \"production\")."},"context":{"type":"object","additionalProperties":{"nullable":true},"default":{}}},"required":["environment"]},"EvaluateFeatureFlagResponse":{"type":"object","properties":{"value":{"nullable":true,"description":"The resolved flag value (post-rules + rollout)."},"matchedRuleId":{"type":"string","description":"The id of the rule that fired, if any."},"rolloutBucket":{"type":"integer","minimum":0,"maximum":99,"description":"The 0-99 bucket the context was assigned, if rollout ran."},"source":{"type":"string","enum":["raw","rule","rollout","default"],"description":"Which branch the evaluator returned from."}},"required":["source"]},"JobListResponse":{"type":"object","properties":{"jobs":{"type":"array","items":{"allOf":[{"$ref":"#/components/schemas/Job"},{"description":"Job entity with status, result, and metadata"}]}},"total":{"type":"integer"},"limit":{"type":"integer"},"offset":{"type":"integer"}},"required":["jobs","total","limit","offset"],"description":"Paginated list of jobs"},"CreateJob":{"type":"object","properties":{"type":{"type":"string","description":"Job type (e.g., knowledge_document_from_file)"},"organizationId":{"type":"string","format":"uuid","description":"Organization ID"},"description":{"type":"string","description":"Job description"},"metadataJson":{"type":"object","additionalProperties":{"nullable":true},"description":"Job metadata"}},"required":["type","organizationId"],"description":"Create job request"},"KnowledgeDocument":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the knowledge document. Set internally by the server."},"name":{"type":"string","description":"The name of the knowledge document."},"type":{"type":"string","enum":["pdf","docx","website","txt","json","confluence"],"description":"The type of the document."},"sourceUrl":{"type":"string","format":"uri","description":"The source URL for website type documents."},"metaData":{"nullable":true,"description":"Metadata stored as JSONB."},"fileId":{"type":"string","format":"uuid","description":"Optional reference to a file in storage."},"sourceFileId":{"type":"string","format":"uuid","description":"Optional reference to a source file in storage."},"folderId":{"type":"string","format":"uuid","description":"Optional reference to a folder that organizes this document."},"organizationId":{"type":"string","format":"uuid","description":"Reference to the organization that owns this document."},"createdAt":{"type":"string","nullable":true,"format":"date","description":"The timestamp when this document was created. Set internally by the server."},"updatedAt":{"type":"string","nullable":true,"format":"date","description":"The timestamp when this document was last updated. Set internally by the server."}},"required":["id","name","type","organizationId","createdAt","updatedAt"],"description":"Knowledge document entity"},"FileUploadRequest":{"type":"object","properties":{"mimeType":{"type":"string","description":"The MIME type of the file (e.g., application/pdf, image/jpeg)."},"size":{"type":"integer","minimum":0,"exclusiveMinimum":true,"description":"The size of the file in bytes."},"filename":{"type":"string","description":"Name of the file to upload"}},"required":["mimeType","size","filename"],"description":"Request body for file upload preparation"},"FileUploadResponse":{"type":"object","properties":{"fileId":{"type":"string","format":"uuid","description":"ID of the created file record"},"uploadUrl":{"type":"string","format":"uri","description":"Presigned URL for uploading the file"},"path":{"type":"string","description":"Path where the file will be stored"}},"required":["fileId","uploadUrl","path"],"description":"Response for file upload preparation"},"ProcessDocumentRequest":{"type":"object","properties":{"fileId":{"type":"string","format":"uuid","description":"ID of uploaded file to process"},"markdownContent":{"type":"string","description":"Raw markdown content to process"},"websiteUrl":{"type":"string","format":"uri","description":"URL to crawl and process"},"name":{"type":"string","description":"Name for the knowledge document"}},"required":["name"],"description":"Request body for processing a document into knowledge"},"ProcessWebsitesRequest":{"type":"object","properties":{"urls":{"type":"array","items":{"type":"string","format":"uri"},"minItems":1,"description":"URLs to crawl and process. A single URL is treated as a seed and crawled (follows links); multiple URLs are scraped individually."},"name":{"type":"string","description":"Name for the knowledge document"},"crawlLimit":{"type":"integer","minimum":1,"maximum":500,"description":"Max pages to crawl from a single seed URL. Default 50. Ignored when urls.length > 1."},"crawlMaxDepth":{"type":"integer","minimum":0,"maximum":10,"description":"Max link-discovery depth from the seed. Default 2. Ignored when urls.length > 1."}},"required":["urls","name"],"description":"Request body for processing websites into knowledge"},"DeleteKnowledgeDocumentResponse":{"type":"object","properties":{"message":{"type":"string","example":"Knowledge document deleted successfully"},"id":{"type":"string","example":"doc-123"}},"required":["message","id"],"description":"Response when a knowledge document is successfully deleted"},"KnowledgeDocumentContentResponse":{"type":"object","properties":{"content":{"type":"string","description":"Markdown content of the knowledge document"}},"required":["content"],"description":"Knowledge document content response"},"UpdateKnowledgeDocumentContentRequest":{"type":"object","properties":{"content":{"type":"string","minLength":1,"description":"Updated markdown content"}},"required":["content"],"description":"Request body for updating knowledge document content"},"CreateProcessedFileRequest":{"type":"object","properties":{"sourceFileId":{"type":"string","format":"uuid","description":"ID of the original source file"},"processedContent":{"type":"string","description":"Processed markdown content"},"filename":{"type":"string","description":"Name for the processed file"}},"required":["sourceFileId","processedContent","filename"],"description":"Request body for creating a processed file record from Python service"},"CreateProcessedFileResponse":{"type":"object","properties":{"fileId":{"type":"string","format":"uuid","description":"ID of the created processed file record"},"uploadUrl":{"type":"string","format":"uri","description":"Presigned URL for uploading the processed content"},"path":{"type":"string","description":"Path where the processed file will be stored"}},"required":["fileId","uploadUrl","path"],"description":"Response for processed file creation"},"CreateContentFileRequest":{"type":"object","properties":{"content":{"type":"string","description":"Content to store"},"filename":{"type":"string","description":"Name for the file"},"organizationId":{"type":"string","format":"uuid","description":"Organization ID"}},"required":["content","filename","organizationId"],"description":"Request body for creating a file from content (internal endpoint for AI service)"},"CreateContentFileResponse":{"type":"object","properties":{"fileId":{"type":"string","format":"uuid","description":"ID of the created file record"},"path":{"type":"string","description":"Path where the file is stored"}},"required":["fileId","path"],"description":"Response for content file creation"},"AgentKnowledgeAssociationRequest":{"type":"object","properties":{"knowledgeDocumentIds":{"type":"array","items":{"type":"string"},"description":"Knowledge document IDs to associate with the agent"}},"required":["knowledgeDocumentIds"],"description":"Request body for associating knowledge documents with an agent"},"AgentKnowledgeAssociationResponse":{"type":"object","properties":{"message":{"type":"string"},"agentId":{"type":"string","format":"uuid"},"knowledgeDocumentIds":{"type":"array","items":{"type":"string"}}},"required":["message","agentId","knowledgeDocumentIds"],"description":"Response for agent knowledge association"},"UpdateKnowledgeDocument":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":255,"description":"Updated name for the document"},"content":{"type":"string","description":"Updated markdown content"}},"description":"Request body for updating a knowledge document"},"OrganizationMemberInvitation":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"organizationId":{"type":"string","format":"uuid"},"email":{"type":"string","format":"email"},"roleId":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["pending","accepted","rejected","expired"]},"expiresAt":{"type":"string"},"createdAt":{"type":"string"},"organizationName":{"type":"string"},"roleName":{"type":"string"}},"required":["id","organizationId","email","roleId","status","expiresAt","createdAt"],"description":"Organization member invitation"},"CreateOrganizationMemberInvitationRequest":{"type":"object","properties":{"email":{"type":"string","format":"email"},"roleId":{"type":"string","format":"uuid"}},"required":["email","roleId"],"description":"Request body for creating an organization member invitation"},"OrganizationMember":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"organizationId":{"type":"string","format":"uuid"},"userId":{"type":"string","format":"uuid"},"createdAt":{"type":"string"}},"required":["id","organizationId","userId","createdAt"],"description":"Organization member"},"OrganizationRole":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"description":{"type":"string","nullable":true}},"required":["id","name","description"],"description":"Organization member role"},"Organization":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"The unique identifier for the organization."},"name":{"type":"string","minLength":1,"description":"The name of the organization."},"description":{"type":"string","nullable":true,"description":"The description of the organization."},"primaryColor":{"type":"string","nullable":true,"pattern":"^#[0-9A-Fa-f]{6}$","description":"The primary color of the organization (hex format)."},"accentColor":{"type":"string","nullable":true,"pattern":"^#[0-9A-Fa-f]{6}$","description":"The accent color of the organization (hex format)."},"logo":{"type":"string","nullable":true,"format":"uri","description":"The logo URL of the organization."},"icon":{"type":"string","nullable":true,"format":"uri","description":"The icon URL of the organization."},"secondaryColor":{"type":"string","nullable":true,"pattern":"^#[0-9A-Fa-f]{6}$","description":"The secondary brand color of the organization (hex format)."},"harmonyMode":{"type":"string","nullable":true,"enum":["complementary","analogous","split-complementary","triadic","custom"],"description":"The color harmony mode for generating accent colors."},"logoWordmark":{"type":"string","nullable":true,"format":"uri","description":"The wordmark logo URL of the organization."},"tailwindPalette":{"type":"object","nullable":true,"additionalProperties":{"type":"object","additionalProperties":{"type":"string"}},"description":"Generated Tailwind CSS color scales keyed by color role."},"metaData":{"type":"object","nullable":true,"properties":{"urls":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string","format":"uri"}},"required":["url"]},"default":[]}},"description":"Additional metadata for the organization."},"encryptionKey":{"type":"string","nullable":true,"description":"Current per-org encryption key (encrypted with master key)."},"encryptionKeyPrevious":{"type":"string","nullable":true,"description":"Previous per-org encryption key (kept during rotation)."},"createdBy":{"type":"string","format":"uuid","description":"The user identifier who created the organization."},"createdAt":{"type":"string","nullable":true,"format":"date","description":"The date and time the organization was created."},"updatedAt":{"type":"string","nullable":true,"format":"date","description":"The date and time the organization was last updated."}},"required":["name","createdBy"],"description":"Organization entity"},"CreateOrganizationRequest":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string","minLength":1,"description":"The name of the organization."},"description":{"type":"string","nullable":true,"description":"The description of the organization."},"primaryColor":{"type":"string","nullable":true,"pattern":"^#[0-9A-Fa-f]{6}$","description":"The primary color of the organization (hex format)."},"accentColor":{"type":"string","nullable":true,"pattern":"^#[0-9A-Fa-f]{6}$","description":"The accent color of the organization (hex format)."},"logo":{"type":"string","nullable":true,"format":"uri","description":"The logo URL of the organization."},"icon":{"type":"string","nullable":true,"format":"uri","description":"The icon URL of the organization."},"secondaryColor":{"type":"string","nullable":true,"pattern":"^#[0-9A-Fa-f]{6}$","description":"The secondary brand color of the organization (hex format)."},"harmonyMode":{"type":"string","nullable":true,"enum":["complementary","analogous","split-complementary","triadic","custom"],"description":"The color harmony mode for generating accent colors."},"logoWordmark":{"type":"string","nullable":true,"format":"uri","description":"The wordmark logo URL of the organization."},"tailwindPalette":{"type":"object","nullable":true,"additionalProperties":{"type":"object","additionalProperties":{"type":"string"}},"description":"Generated Tailwind CSS color scales keyed by color role."},"metaData":{"type":"object","nullable":true,"properties":{"urls":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string","format":"uri"}},"required":["url"]},"default":[]}},"description":"Additional metadata for the organization."},"encryptionKey":{"type":"string","nullable":true},"encryptionKeyPrevious":{"type":"string","nullable":true},"createdAt":{"type":"string","format":"date"},"updatedAt":{"type":"string","format":"date"}},"required":["name"],"description":"Request body for creating a new organization"},"UpdateOrganizationRequest":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string","minLength":1,"description":"The name of the organization."},"description":{"type":"string","nullable":true,"description":"The description of the organization."},"primaryColor":{"type":"string","nullable":true,"pattern":"^#[0-9A-Fa-f]{6}$","description":"The primary color of the organization (hex format)."},"accentColor":{"type":"string","nullable":true,"pattern":"^#[0-9A-Fa-f]{6}$","description":"The accent color of the organization (hex format)."},"logo":{"type":"string","nullable":true,"format":"uri","description":"The logo URL of the organization."},"icon":{"type":"string","nullable":true,"format":"uri","description":"The icon URL of the organization."},"secondaryColor":{"type":"string","nullable":true,"pattern":"^#[0-9A-Fa-f]{6}$","description":"The secondary brand color of the organization (hex format)."},"harmonyMode":{"type":"string","nullable":true,"enum":["complementary","analogous","split-complementary","triadic","custom"],"description":"The color harmony mode for generating accent colors."},"logoWordmark":{"type":"string","nullable":true,"format":"uri","description":"The wordmark logo URL of the organization."},"tailwindPalette":{"type":"object","nullable":true,"additionalProperties":{"type":"object","additionalProperties":{"type":"string"}},"description":"Generated Tailwind CSS color scales keyed by color role."},"metaData":{"type":"object","nullable":true,"properties":{"urls":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string","format":"uri"}},"required":["url"]},"default":[]}},"description":"Additional metadata for the organization."},"encryptionKey":{"type":"string","nullable":true},"encryptionKeyPrevious":{"type":"string","nullable":true},"createdBy":{"type":"string","format":"uuid"},"createdAt":{"type":"string","format":"date"},"updatedAt":{"type":"string","format":"date"}},"description":"Request body for updating an organization"},"Product":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"The unique identifier for the purchased product."},"organizationId":{"type":"string","format":"uuid","description":"The organization that owns this purchased product."},"purchasedBy":{"type":"string","format":"uuid","description":"The user ID who purchased this product."},"orderId":{"type":"string","format":"uuid","description":"Foreign key reference to the orders table containing Stripe data."},"stripeProductId":{"type":"string","format":"uuid","description":"Foreign key reference to the stripe_products table."},"status":{"type":"string","enum":["active","suspended","cancelled"],"default":"active","description":"The product status."},"trialEndsAt":{"type":"string","nullable":true,"format":"date","description":"When the trial period ends. Null for admin-bypassed products."},"createdAt":{"type":"string","nullable":true,"format":"date","description":"The date and time the product was activated."},"updatedAt":{"type":"string","nullable":true,"format":"date","description":"The date and time the product record was updated."}},"required":["organizationId","purchasedBy","orderId","stripeProductId"],"description":"Product entity with organization, order, and Stripe product relationships"},"AdminRole":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string","enum":["super_admin"]},"description":{"type":"string","nullable":true},"createdAt":{"type":"string","format":"date"},"updatedAt":{"type":"string","format":"date"}},"required":["id","name","description","createdAt","updatedAt"],"description":"Admin role entity"},"ProfileWithAdminRoles":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"The unique identifier for the profile (matches auth user id)."},"email":{"type":"string","format":"email","description":"The email address of the user."},"phone":{"type":"string","nullable":true,"description":"The phone number of the user."},"fullName":{"type":"string","nullable":true,"description":"The full name of the user."},"smsOptIn":{"type":"boolean","default":false,"description":"Whether the user has opted in to SMS communications (app notifications)."},"smsOptInDate":{"type":"string","nullable":true,"format":"date","description":"The date the user opted in to SMS communications."},"emailOptIn":{"type":"boolean","default":false,"description":"Whether the user has opted in to email communications (app notifications)."},"emailOptInDate":{"type":"string","nullable":true,"format":"date","description":"The date the user opted in to email communications."},"marketingSmsOptIn":{"type":"boolean","default":false,"description":"Whether the user has opted in to SMS marketing communications."},"marketingSmsOptInDate":{"type":"string","nullable":true,"format":"date","description":"The date the user opted in to SMS marketing communications."},"marketingEmailOptIn":{"type":"boolean","default":false,"description":"Whether the user has opted in to email marketing communications."},"marketingEmailOptInDate":{"type":"string","nullable":true,"format":"date","description":"The date the user opted in to email marketing communications."},"profilePicture":{"type":"string","nullable":true,"description":"Profile picture file ID or URL."},"source":{"type":"object","nullable":true,"additionalProperties":{"type":"string"},"description":"Marketing attribution data (UTM parameters, referrer, etc.)."},"createdAt":{"type":"string","nullable":true,"format":"date","description":"The date and time the profile was created."},"updatedAt":{"type":"string","nullable":true,"format":"date","description":"The date and time the profile was last updated."},"adminRoles":{"type":"array","items":{"$ref":"#/components/schemas/AdminRole"}}},"required":["id","email","adminRoles"],"description":"User profile entity with admin roles - excludes sensitive auth tokens"},"UpdateProfileRequest":{"type":"object","properties":{"phone":{"type":"string","nullable":true,"description":"The phone number of the user."},"fullName":{"type":"string","nullable":true,"description":"The full name of the user."},"smsOptIn":{"type":"boolean","default":false,"description":"Whether the user has opted in to SMS communications (app notifications)."},"emailOptIn":{"type":"boolean","default":false,"description":"Whether the user has opted in to email communications (app notifications)."},"marketingSmsOptIn":{"type":"boolean","default":false,"description":"Whether the user has opted in to SMS marketing communications."},"marketingEmailOptIn":{"type":"boolean","default":false,"description":"Whether the user has opted in to email marketing communications."},"profilePicture":{"type":"string","nullable":true,"description":"Profile picture file ID or URL."},"source":{"type":"object","nullable":true,"additionalProperties":{"type":"string"},"description":"Marketing attribution data (UTM parameters, referrer, etc.)."}},"description":"Request body for updating user profile - excludes non-updatable fields"},"Deployment":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"organizationId":{"type":"string","format":"uuid"},"environmentId":{"type":"string","nullable":true,"format":"uuid"},"name":{"type":"string"},"status":{"type":"string","enum":["pending","in_progress","success","failure","cancelled"]},"source":{"type":"string","nullable":true},"externalId":{"type":"string","nullable":true},"externalUrl":{"type":"string","nullable":true},"ref":{"type":"string","nullable":true},"metadata":{"type":"object","nullable":true,"additionalProperties":{"nullable":true}},"startedAt":{"type":"string","nullable":true},"completedAt":{"type":"string","nullable":true},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","organizationId","environmentId","name","status","source","externalId","externalUrl","ref","metadata","startedAt","completedAt","createdAt","updatedAt"],"description":"Deployment entity"},"TestCase":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"organizationId":{"type":"string","format":"uuid"},"title":{"type":"string"},"description":{"type":"string","nullable":true},"preconditions":{"type":"string","nullable":true},"expectedResult":{"type":"string","nullable":true},"priority":{"type":"string","nullable":true},"automationStatus":{"type":"string","nullable":true},"automationId":{"type":"string","nullable":true},"tags":{"type":"array","nullable":true,"items":{"type":"string"}},"estimatedDurationMs":{"type":"number","nullable":true},"metadata":{"type":"object","nullable":true,"additionalProperties":{"nullable":true}},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","organizationId","title","description","preconditions","expectedResult","priority","automationStatus","automationId","tags","estimatedDurationMs","metadata","createdAt","updatedAt"],"description":"Test case entity"},"TestEnvironment":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"organizationId":{"type":"string","format":"uuid"},"name":{"type":"string"},"description":{"type":"string","nullable":true},"baseUrl":{"type":"string","nullable":true},"metadata":{"type":"object","nullable":true,"additionalProperties":{"nullable":true}},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","organizationId","name","description","baseUrl","metadata","createdAt","updatedAt"],"description":"Test environment entity"},"TestRun":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"organizationId":{"type":"string","format":"uuid"},"environmentId":{"type":"string","nullable":true,"format":"uuid"},"deploymentId":{"type":"string","nullable":true,"format":"uuid"},"name":{"type":"string"},"tool":{"type":"string","nullable":true},"tags":{"type":"array","nullable":true,"items":{"type":"string"}},"status":{"type":"string"},"summary":{"type":"object","nullable":true,"properties":{"total":{"type":"number"},"passed":{"type":"number"},"failed":{"type":"number"},"skipped":{"type":"number"},"pending":{"type":"number"},"other":{"type":"number"}}},"durationMs":{"type":"number","nullable":true},"runnerName":{"type":"string","nullable":true},"runnerUrl":{"type":"string","nullable":true},"startedAt":{"type":"string","nullable":true},"completedAt":{"type":"string","nullable":true},"metadata":{"type":"object","nullable":true,"additionalProperties":{"nullable":true}},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"deployment":{"type":"object","nullable":true,"properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"status":{"type":"string"},"source":{"type":"string","nullable":true},"externalId":{"type":"string","nullable":true},"externalUrl":{"type":"string","nullable":true},"ref":{"type":"string","nullable":true},"metadata":{"type":"object","nullable":true,"additionalProperties":{"nullable":true}}},"required":["id","name","status","source","externalId","externalUrl","ref","metadata"]}},"required":["id","organizationId","environmentId","deploymentId","name","tool","tags","status","summary","durationMs","runnerName","runnerUrl","startedAt","completedAt","metadata","createdAt","updatedAt"],"description":"Test run entity"}},"parameters":{}},"paths":{"/organizations/{org_id}/agents":{"get":{"description":"List all agents for an organization","tags":["Agents"],"security":[{"bearerAuth":[]},{"clientCredentials":[]}],"parameters":[{"schema":{"type":"string","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"name":"org_id","in":"path"}],"responses":{"200":{"description":"List of agents","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Agent"}}}}},"400":{"description":"Bad request - validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"servers":[{"url":"https://api.smoo.ai","description":"Main API Server"}]},"post":{"description":"Create a new AI agent for an organization","tags":["Agents"],"security":[{"bearerAuth":[]},{"clientCredentials":[]}],"parameters":[{"schema":{"type":"string","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"name":"org_id","in":"path"}],"requestBody":{"description":"Agent creation data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentRequest"}}}},"responses":{"200":{"description":"Created agent","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Agent"}}}},"400":{"description":"Bad request - validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"servers":[{"url":"https://api.smoo.ai","description":"Main API Server"}]}},"/organizations/{org_id}/agents/{id}":{"patch":{"description":"Update an existing agent in an organization","tags":["Agents"],"security":[{"bearerAuth":[]},{"clientCredentials":[]}],"parameters":[{"schema":{"type":"string","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"name":"org_id","in":"path"},{"schema":{"type":"string","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"name":"id","in":"path"}],"requestBody":{"description":"Agent update data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAgentRequest"}}}},"responses":{"200":{"description":"Updated agent","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Agent"}}}},"400":{"description":"Bad request - validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"servers":[{"url":"https://api.smoo.ai","description":"Main API Server"}]},"get":{"description":"Get agent by ID from an organization","tags":["Agents"],"security":[{"bearerAuth":[]},{"clientCredentials":[]}],"parameters":[{"schema":{"type":"string","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"name":"org_id","in":"path"},{"schema":{"type":"string","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Agent details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Agent"}}}},"400":{"description":"Bad request - validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"servers":[{"url":"https://api.smoo.ai","description":"Main API Server"}]},"delete":{"description":"Delete an agent by ID from an organization","tags":["Agents"],"security":[{"bearerAuth":[]},{"clientCredentials":[]}],"parameters":[{"schema":{"type":"string","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"name":"org_id","in":"path"},{"schema":{"type":"string","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Agent deleted successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteAgentResponse"}}}},"400":{"description":"Bad request - validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"servers":[{"url":"https://api.smoo.ai","description":"Main API Server"}]}},"/organizations/{org_id}/agents/{id}/regenerate-prompts":{"post":{"description":"Regenerate example prompts for an agent using AI","tags":["Agents"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"name":"org_id","in":"path"},{"schema":{"type":"string","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Job created for regenerating example prompts","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Job"}}}},"400":{"description":"Bad request - validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"servers":[{"url":"https://api.smoo.ai","description":"Main API Server"}]}},"/organizations/{org_id}/agents/{id}/regenerate-summary":{"post":{"description":"Regenerate summary for an agent using AI","tags":["Agents"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"name":"org_id","in":"path"},{"schema":{"type":"string","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Job created for regenerating summary","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Job"}}}},"400":{"description":"Bad request - validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"servers":[{"url":"https://api.smoo.ai","description":"Main API Server"}]}},"/organizations/{org_id}/agents/{id}/regenerate-persona":{"post":{"description":"Regenerate persona for an agent using AI","tags":["Agents"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"name":"org_id","in":"path"},{"schema":{"type":"string","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Job created for regenerating persona","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Job"}}}},"400":{"description":"Bad request - validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"servers":[{"url":"https://api.smoo.ai","description":"Main API Server"}]}},"/organizations/{org_id}/agents/{id}/regenerate-instructions":{"post":{"description":"Regenerate instructions for an agent using AI","tags":["Agents"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"name":"org_id","in":"path"},{"schema":{"type":"string","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Job created for regenerating instructions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Job"}}}},"400":{"description":"Bad request - validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"servers":[{"url":"https://api.smoo.ai","description":"Main API Server"}]}},"/organizations/{org_id}/agents/{id}/regenerate-icon":{"post":{"description":"Regenerate icon for an agent using AI","tags":["Agents"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"name":"org_id","in":"path"},{"schema":{"type":"string","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Job created for regenerating icon","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Job"}}}},"400":{"description":"Bad request - validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"servers":[{"url":"https://api.smoo.ai","description":"Main API Server"}]}},"/organizations/{org_id}/agents/{id}/summary":{"get":{"description":"Get public agent summary (no authentication required)","tags":["Agents"],"parameters":[{"schema":{"type":"string","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"name":"org_id","in":"path"},{"schema":{"type":"string","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Public agent summary","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicAgent"}}}},"400":{"description":"Bad request - validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"servers":[{"url":"https://api.smoo.ai","description":"Main API Server"}]}},"/organizations/{org_id}/agents/{id}/icon":{"get":{"description":"Get agent icon file (no authentication required)","tags":["Agents"],"parameters":[{"schema":{"type":"string","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"name":"org_id","in":"path"},{"schema":{"type":"string","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"name":"id","in":"path"}],"responses":{"302":{"description":"Redirect to agent icon file"},"400":{"description":"Bad request - validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"servers":[{"url":"https://api.smoo.ai","description":"Main API Server"}]}},"/organizations/{org_id}/agents/{id}/upload-icon":{"post":{"description":"Upload a custom icon for an agent","tags":["Agents"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"name":"org_id","in":"path"},{"schema":{"type":"string","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"name":"id","in":"path"}],"requestBody":{"description":"Icon file to upload","content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"description":"Icon uploaded successfully","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Icon uploaded successfully"},"iconUrl":{"type":"string","example":"https://example.com/icon.png"}},"required":["message","iconUrl"]}}}},"400":{"description":"Bad request - validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"servers":[{"url":"https://api.smoo.ai","description":"Main API Server"}]}},"/organizations/{org_id}/agents/generate-config":{"post":{"description":"Generate an agent configuration from a natural language description using AI","tags":["Agents"],"security":[{"bearerAuth":[]},{"clientCredentials":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerateConfigRequest"}}}},"responses":{"200":{"description":"Generated agent configuration","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerateConfigResponse"}}}},"400":{"description":"Bad request - validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"servers":[{"url":"https://api.smoo.ai","description":"Main API Server"}]}},"/organizations/{org_id}/auth-clients":{"get":{"description":"List all auth clients for an organization (secrets masked)","tags":["Auth Clients"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"name":"org_id","in":"path"}],"responses":{"200":{"description":"List of auth clients","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AuthClient"}}}}},"400":{"description":"Bad request - validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"servers":[{"url":"https://api.smoo.ai","description":"Main API Server"}]},"post":{"description":"Create a new auth client. The secret/public key is returned only once.","tags":["Auth Clients"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"name":"org_id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAuthClientRequest"}}}},"responses":{"201":{"description":"Created auth client with key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAuthClientResponse"}}}},"400":{"description":"Bad request - validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"servers":[{"url":"https://api.smoo.ai","description":"Main API Server"}]}},"/organizations/{org_id}/auth-clients/{client_id}":{"patch":{"description":"Update a B2M auth client (e.g., allowed origins)","tags":["Auth Clients"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"name":"org_id","in":"path"},{"schema":{"type":"string","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"required":true,"name":"client_id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAuthClientRequest"}}}},"responses":{"200":{"description":"Updated auth client","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthClient"}}}},"400":{"description":"Bad request - validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"servers":[{"url":"https://api.smoo.ai","description":"Main API Server"}]},"delete":{"description":"Delete (revoke) an auth client","tags":["Auth Clients"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"name":"org_id","in":"path"},{"schema":{"type":"string","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"required":true,"name":"client_id","in":"path"}],"responses":{"200":{"description":"Auth client deleted"},"400":{"description":"Bad request - validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"servers":[{"url":"https://api.smoo.ai","description":"Main API Server"}]}},"/organizations/{org_id}/config/environments":{"get":{"description":"List all config environments for an organization","tags":["Config Environments"],"security":[{"bearerAuth":[]},{"clientCredentials":[]}],"parameters":[{"schema":{"type":"string","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"name":"org_id","in":"path"}],"responses":{"200":{"description":"List of config environments","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ConfigEnvironment"}}}}},"400":{"description":"Bad request - validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"servers":[{"url":"https://api.smoo.ai","description":"Main API Server"}]},"post":{"description":"Create a new config environment","tags":["Config Environments"],"security":[{"bearerAuth":[]},{"clientCredentials":[]}],"parameters":[{"schema":{"type":"string","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"name":"org_id","in":"path"}],"requestBody":{"description":"Config environment data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateConfigEnvironmentRequest"}}}},"responses":{"201":{"description":"Created config environment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigEnvironment"}}}},"400":{"description":"Bad request - validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"servers":[{"url":"https://api.smoo.ai","description":"Main API Server"}]}},"/organizations/{org_id}/config/environments/{env_id}":{"patch":{"description":"Update a config environment","tags":["Config Environments"],"security":[{"bearerAuth"
[...]
